a:hover {
  border-bottom: 1px solid $text-color-white;
}

.gallery-item-holder:hover .gallery-img-actions{
  display: flex;
  opacity: 0.9;
  animation-name: gallery-links;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}