.navigation {
  ul {
    display: flex;
    justify-content: space-between;
  }
}

.navigation-icon {
  display: none;
  width: 35px;
  height: 25px;
  bottom: 10px;
  right: 30px;
  position: absolute;
  cursor: pointer;
}

.navigation-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: $text-color-white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.navigation-icon span:nth-child(1) {
  top: 0px;
}

.navigation-icon span:nth-child(2),
.navigation-icon span:nth-child(3) {
  top: 13px;
}

.navigation-icon span:nth-child(4) {
  top: 26px;
}

.navigation.navigation-state-open .navigation-icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navigation.navigation-state-open .navigation-icon span:nth-child(2) {
  transform: rotate(45deg);
}

.navigation.navigation-state-open .navigation-icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.navigation.navigation-state-open .navigation-icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navigation.navigation-state-open .navigation-links {
  top: 88px;
  opacity: 1;
  z-index: 1000;
}

@media screen and (max-width: $sm-top) {

  .navigation-icon{
    display: inline-block;
  }

  .navigation-links {
    position: absolute;
    width: 150px;
    display: flex;
    flex-direction: column;
    top: -300px;
    right: 0;
    opacity: 0;
    background: $color-blue;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: 1px solid $text-color-white;
    transition: all 1s;

    margin-top: 52px;
    z-index: -1000;
    overflow: hidden;
  }

  .navigation-links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: $text-color-white;
  }
}