@keyframes block-down {
  from {
    top: -500px;
  }
  to {
    top: 0;
  }
}

@keyframes block-right {
  0% {
    left: -100%;
    right: 0;
  }

  33% {
    left: 25%;
    right: 0;
  }

  66% {
    left: -10%;
    right: 0;
  }

  100% {
    left: 0;
    right: 0;
  }
}

@keyframes block-top {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}