html {
  font-size: 18px;
  font-family: $lato-fallback;
}

h1 {
  font-size: 2.6em;
  font-weight: 700;
  padding: 40px 0;
}

h2 {
  font-size: 2.25em;
  padding: 40px 0;
}

h3 {
  font-size: 1.8em;
}

a {
  padding-bottom: 10px;
  color: $text-color-white;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0);
  transition: border .5s;
}

main {
  overflow: hidden;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

@media screen and (max-width: $md-top){
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: $sm-top){
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: $xs-top){
  h1 {
    word-wrap: break-word;
  }
}