.biography {
  position: relative;
  display: grid;
  min-height: 465px;
  grid-template-columns: 315px 1fr;
  grid-column-gap: 96px;
  left: 0;
  right: 0;

  animation-name: block-right;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.biography-content {
  position: relative;
  line-height: 32px;
  padding-bottom: 40px;

  p {
    color: $text-color-grey;
  }
}

.biography-foto {
  position: relative;
  max-height: 315px;
  max-width: 315px;
  overflow: hidden;
  padding-top: 100px;

  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: $sm-top){
  .biography {
    grid-template: 1fr/1fr;
    text-align: center;
  }

  .biography-foto {
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;

  }
}