.page-footer {
  position: relative;
  background-color: $color-blue;
  min-height: 172px;
  color: $text-color-white;

  .container {
    display: grid;
    min-height: inherit;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 345px;
    align-items: center;

    div {
      line-height: 40px;

      p {
        position: relative;
      }

      p:before {
        position: absolute;
        font-family: "Font Awesome\ 5 Free";
        left: -32px;
      }

      p:nth-child(1):before {
        content: "\f3cd";
        font-weight: 900;
        left: -29px;
      }

      p:nth-child(2):before {
        content: "\f0e0";
      }

      p:nth-child(3):before {
        content: "\f015";
        font-weight: 900;
      }
    }
  }
}

@media all and (max-width: $sm-top){
  .page-footer {

    .container {
      grid-column-gap: 220px;

      div {

        p:before {
          left: -20px;
        }

        p:nth-child(1):before {
          left: -17px;
        }
      }
    }
  }
}

@media screen and (max-width: $xs-top){
  .page-footer {

    .container {
      grid-template: 1fr/1fr;
      text-align: center;

      div {

        p:before {
          left: 20px;
        }

        p:nth-child(1):before {
          left: 23px;
        }
      }
    }
  }
}