.page-header {
  position: relative;
  background-color: $color-blue;
  min-height: 172px;
  color: $text-color-white;

  animation-name: block-down;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@media screen and (max-width: $sm-top){
  .page-header {
    min-height: 0;
    height: 140px;
  }
}