.price {
  display: grid;
  position: relative;
  min-height: 465px;
  grid-template-columns: 1fr 315px;
  grid-column-gap: 96px;
  padding-bottom: 40px;
}

.price-content {
  line-height: 32px;

  p {
    color: $text-color-grey;
  }
}

.price-foto {
  max-height: 315px;
  max-width: 315px;
  overflow: hidden;
  padding-top: 100px;

  img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: $sm-top){
  .price {
    grid-template: 1fr/1fr;
    text-align: center;
  }

  .price-foto {
    text-align: center;
    margin: 0 auto;
    padding-top: 40px;

  }
}