.slider {
  position: relative;
  height: 395px;
  top: 100vh;

  animation-name: block-top;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  .slider-content {
    position: absolute;
    overflow: hidden;
  }

  div {
    position: relative;
    height: inherit;
    width: 100%;
  }

  img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }

  .slider-btn {
    position: absolute;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 5;
    }
  }

  .eclipse {
    position: absolute;
    height: auto;
    background-color: black;
    z-index: 3;
    opacity: .2;
  }
}

@media screen and (max-width: $sm-top){
  .slider {
    height: 295px;
  }

  .slider-content {
    img {
      height: 100%;
    }
  }
}